<div class="containuer-fluid">
    <div class="row justify-content-center">
        <div class="col col-sm-8 col-md-6 col-lg-4 col-xs-10">
            <div class="card mt-4">
                <div class="card-header">Login</div>
                <div class="card-body">
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <!-- <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="credentials.email" [formControl]="loginForm"> -->
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email" required>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <!-- <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="credentials.pass"> -->
                            <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary" [disabled]="loginForm.status == 'INVALID'">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</div>

<!-- <p>Login</p>

<div>
    <label for="">Email
        <input type="email" placeholder="Email" [(ngModel)]="credentials.email" />
    </label>
</div>
<div>
    <label for="">Pass
        <input type="password" placeholder="Password" [(ngModel)]="credentials.pass" />
    </label>
</div>
<div>
    <button class="btn btn-primary" (click)="login()">Login</button>
</div>

<p>Email: {{credentials.email}} / Pass: {{credentials.pass}}</p> -->