<app-menu></app-menu>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <form [formGroup]="filterForm" class="form-inline">
                <label for="txtFilterBookingID">Booking ID: &nbsp;</label>
                <input type="text" class="form-control form-control-sm mr-sm-2 mb-2 mr-sm-2" id="txtFilterBookingID" formControlName="bookingID" placeholder="Booking ID">

                <label for="txtFilterBookingIDCondition">Compare: &nbsp;</label>
                <select class="form-control form-control-sm mb-2 mr-sm-2" id="txtFilterBookingIDCondition" formControlName="bookingIDCondition">
                    <option value="">Like</option>
                    <option value=">=">&gt;=</option>
                    <option value="<=">&lt;=</option>
                </select>

                <label for="txtFilterBookingPrice">Price: &nbsp; </label>
                <input type="text" class="form-control form-control-sm mb-2 mr-sm-2" id="txtFilterBookingPrice" formControlName="bookingPrice" placeholder="Booking Price">

                <label for="txtFilterBookingPriceCondition">Compare: &nbsp;</label>
                <select class="form-control form-control-sm mb-2 mr-sm-2" id="txtFilterBookingPriceCondition" formControlName="bookingPriceCondition">
                    <option value="">Like</option>
                    <option value=">=">&gt;=</option>
                    <option value="<=">&lt;=</option>
                </select>
            </form>
        </div>
    </div>
</div>
<hr />
<table class="table table-striped">
    <thead>
        <th>BookingId</th>
        <th>Cliente</th>
        <th>Fecha de Creaci&oacute;n</th>
        <th>Direcci&oacute;n</th>
        <th>Precio</th>
    </thead>
    <tbody>
        <tr *ngFor="let booking of bookings | bookingFilter:filterForm.value.bookingID:filterForm.value.bookingIDCondition:filterForm.value.bookingPrice:filterForm.value.bookingPriceCondition">
            <td>{{booking.bookingId}}</td>
            <td>{{booking.tutenUserClient.firstName + ' ' + booking.tutenUserClient.lastName}}</td>
            <td>{{booking.bookingTime | date:'yy-M-d h:mm a'}}</td>
            <td>{{booking.locationId.streetAddress}}</td>
            <td>{{booking.bookingPrice}}</td>
        </tr>
    </tbody>
</table>